
// As I promised here you can find the base CSS rules... and very naturally we start with the body...

body {
    // Body font size assigned to decade multiplier for clear and intuitive rem values.
    font-size: 10px;
    font-family: 'Roboto', Helvetica, Arial, serif;
}

a {
    -webkit-transition: 0.5s;
    transition: 0.3s;
    color: #23232c;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 2.4rem;
}

.text-{
    &align- {
        &center {
            text-align: center;
        }
        &left {
            text-align: left;
        }
        &right {
            text-align: right;
        }
    }
}


//Reset default button styles
%reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}


