// As I promised here you can find the base CSS rules... and very naturally we start with the html...
@media #{$handheld} {
    html, body {
        overflow-x: hidden;
    }
}
body {
    // Body font size assigned to decade multiplier for clear and intuitive rem values.
    font-size: 10px;
    font-family: 'Serenity Light', Helvetica, Arial, serif;
}

a {
    -webkit-transition: 0.5s;
    transition: 0.3s;
    color: #23232c;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 2.4rem;
}

.text-{
    &align- {
        &center {
            text-align: center;
            //for the block elements
            margin-right: auto !important;
            margin-left: auto !important;
        }
        &left {
            text-align: left;
        }
        &right {
            text-align: right;
        }
    }
}


//Reset default button styles
%reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.v-full-width {
    width: 100%;
    position: relative;
    @media screen and (min-width: 768px) {
        left: 50%;
        right: 50%;
        width: calc(100vw - 30px);
        margin-left: calc(-50vw + 15px);
        margin-right: calc(-50vw + 15px);
    }
    @media #{$handheld} {
        width: 100%;
        position: relative;
        left: 50%;
        right: 50%;
        width: calc(100vw);
        margin-left: calc(-50vw);
        margin-right: calc(-50vw);
    }
}