.wrapper-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100vw;
    #responsive-menu {
        @extend %clearfix;
    }
    .navbar-collapse.collapse.show {
        height: 100vh;
        .navbar.navbar-expand-md.navbar-light {
            height: 100vh;
        }
    }

    .navbar-toggler {
        position: absolute;
        right: 20px;
        top: 30px;
        width: 40px;
        height: 30px;
        padding: 0;
        z-index: 999;
        border: 0;
        &:focus {
            outline: none;
        }
        span {
            position: relative;
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 7px 2px;
            -webkit-transition: .3s all;
            -moz-transition: .3s all;
            transition: .3s all;
        }
    }
    .navbar-toggler[aria-expanded='true'] {
        span {
           width: 34px;
           margin-left: 4px;
            &:nth-of-type(2) {
                display: none;
            }
            &:nth-of-type(1) {
                margin: auto;
                transform: rotate(-45deg);
                transform-origin: 50% 50%;
            }
            &:nth-of-type(3) {
                margin: auto;
                transform: rotate(45deg);
                transform-origin: 50% 50%;
                top: -1px;
            }
        }
    }
    .navbar.navbar-expand-md.navbar-light {
        top: -8px;
        height: auto;
        background-color: rgba(69,81,96, .8);
        padding-bottom: 25px;
        .navbar-nav {
            .dropdown-menu {
                position: static;
                border: none;
                padding-top: 0;
                padding-bottom: 1rem;
                a {
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding: 2px 20px;
                }
            }
        }
        .container {
            position: relative;
            
        }
    }
}

.custom-logo-link {
    display: block;
    position: absolute;
    top: 5px;
    margin-top: 14px;
    padding-bottom: 0;
    max-width: 215px;
    z-index: 9999;
    @media #{$handheld} {
        position: relative;
    }
    img {
        margin-bottom: -10px;
    }
}

#navbarNavDropdown {
    margin-top: 23px;
}

#main-menu {
    margin-left: 0;
    margin-top: 60px;
    font-family: 'Serenity Medium', Helvetica, Arial, serif;
    > li {
        position: relative;
        float: left;
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        > a {
            position: relative;
            display: block;
            font-family: 'Serenity Medium', Helvetica, Arial, serif;
            font-weight: 500;
            color: #fff;
            &:after {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-bottom: -10px;
                margin-left: 0;
            }
        }
    }
    .menu-item.dropdown {
        height: auto;
    }
    li.show {
        > a {
            &:after {
                transform: rotate(180deg);
                margin-bottom: -5px;
            }
        }
    }
    li.dropdown {
        height: 0;
        text-align: center;
        a {
            color: #fff;
        }
        .dropdown-menu {
            display: block;
            height: 0;
            overflow: hidden;
            padding: 0;
            font-size: 1.5rem;
            background-color: transparent;
            text-align: center;
        }
        &:hover {
            height: 118px;
             a.dropdown-toggle {
                font-weight: 500;
                &:after {
                    transform: rotate(180deg);
                    margin-bottom: -5px;
                }
            }
            .dropdown-menu {
                height: 65px;
            }
        }
    }
}

@media screen and (min-width: 564px) {
    .wrapper-navbar {
        .navbar.navbar-expand-md.navbar-light {
            background-color: #fff;
            #header-btn.moduled-btn.pink-btn {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                height: 50px;
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    
    #main-menu {
        margin-left: 220px;
        margin-top: 0;
        > li {
            width: auto;
            > a {
                padding-left: 1rem;
                padding-right: 1rem;
                color: #333;
                padding-bottom: 2px;
                padding-top: 0;
                font-family: 'Serenity Medium';
                &:hover, &:active {
                    color: $pink !important;
                }
            }
            &.current-menu-item {
                a {
                    color: $pink !important;
                }
            }
        }
        
        li.dropdown {
            text-align: left;
            a {
                color: #333;
                &:hover {
                    margin-right: -10px;
                }
            }
            ul.dropdown-menu {
                text-align: left;
                -webkit-transition: .3s height;
                -moz-transition: .3s height;
                transition: .3s height;
                li {
                    a {
                        font-size: .65em;
                        &:hover, &:active {
                            color: $pink !important;
                        }
                    }
                }
            }
        }
    }
}

.logged-in {
    .wrapper-navbar {
        top: 30px;
        .navbar-toggler {
            top: 30px;
        }
    }
}