// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #6f31cd; // Thats a sample how you could change a BootStrap variable.

/* Colors  */

//Define color variables here, please
//Define every color you want to use in a mixin
    $white: #fff;
    $pink: #E64097;
    $yellow: #fac532;
//Header navbar anchors primary color
    $light-gray: #455160;
    $light-blue: #31AFDB;
    $blue: #378bea;

/* Media devices  */

    $smaller-than-17-inch: "only screen and (max-width : 1366px)";
    $smaller-than-15-inch: "only screen and (max-width : 1280px)";
    $larger-than-lg: "only screen and (min-width : 1200px)";
    $larger-than-md: "only screen and (min-width : 992px)";
    $larger-than-sm: "only screen and (min-width : 768px)";
    $larger-than-xs: "only screen and (min-width : 576px)";
    $ipad-landscape: "only screen and (max-width : 1024px) and (orientation: landscape)";
    $ipad-portrait: "only screen and (max-width : 768px)";
    $between-ipad-landscape-and-lg: "only screen and (min-width : 1024px) and (max-width : 1200px)";
    $between-mobile-and-ipad-portrait: "only screen and (min-width : 576px) and (max-width : 768px) and (orientation: portrait)";
    $handheld: "only screen and (max-width : 480px)";
    $handheld-xs: "only screen and (max-width : 320px)";
    $handheld-landscape: "only screen and (max-width : 991px) and (orientation: landscape)";
    $iphone-x-landscape: "only screen and (min-width: 769px) and (max-width: 991px) and (orientation: landscape)";

/* Page mapping - so we can remember them easier for using in the styles ;) */
    $about: "page-id-14";
    $providers: "page-id-16";
    $suppliers: "page-id-18";
    $retail: "page-id-10";