.v-large-logo {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }
}

.margined-heading {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 130px;
    }
}