//Define custom mixins here. Just for brevity...

@mixin moduled-btn ( $parent, $border-radius, $padding-top-bottom, $padding-left-right, $background-color ) {
    //Allow for content inside mixin
    @content;

    #{$parent} {
        //Reset default button styles 
        @extend %reset-Button;
        //..than define custom styles
            border-radius: $border-radius;
            margin-top: 10px;
            margin-bottom: 30px;
            padding: $padding-top-bottom $padding-left-right;
            background-color: $background-color;
            color: $white;
            cursor: pointer;
    }
    #{$parent}:hover, #{$parent}:focus {
        background-color: darken($background-color, 10%) !important;
    }
}

@mixin tranz($property, $duration) {
    -webkit-transition:$property $duration;
    -moz-transition: $property $duration;
    transition: $property $duration;
}