/*
 *
 * Page accordion elements
 *
 */   

section.page-accordion {
    h2 {
        margin-bottom: 30px;
    }
}
         
#accordion {
    margin-bottom: 100px;
    
    .card {
        border-bottom: 0;
        
        &:last-child {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
    
    .btn-accordion {
        border-radius: 0.25rem;
        background-color: $white;
        padding: 15px 25px 30px;
        border: 0;
        outline: 0;
        &:hover {
            cursor: pointer;
        }
        
        h2 {
            margin-bottom: 0;
            text-align: left;
            font-weight: 400;
            line-height: 100%;
            
            p {                
                font-size: 1.6rem;
                display: inline-block;
                margin-bottom: 0;
                line-height: 100%;
                
                &:before {
                    font-family: 'FontAwesome';
                    content: '\f0d7';
                    font-size: 22px;
                    color: $light-gray;
                    vertical-align: middle;
                    margin-right: 30px;
                } 
            }
        }
    }
    
    button.btn-accordion.active {
        
        h2 {
            p {
                &:before {
                    content: '\f0d8';
                }
            }
        }
    }
    
    .panel {
        overflow: hidden;
        display: none;
        border-top: 1px solid rgba(0,0,0,.125);
        padding: 25px;
        
        p {
            font-size: 1.2rem;
            margin-bottom: 10px;
            line-height: 100%;
            
            &:last-child {
                margin-bottom: 0;
            }  
        }
    }
}


