/*
 *
 * Page elements
 *
 */   
         
.box-wrapper {
    padding: 100px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    min-height: 100%;
    height: 100%;
    display: table;
    width: 100%;
    margin: auto;
    @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    .inner-box-wrapper {   
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        
        img {
            width: 100%;
            max-width: 70%;
            max-height: 200px;
            margin: 0 auto 15px;
            display: block;
        }
        
        h2, h3, p {
            display: block;
            text-align: center;            
        }
             
        h2 {    
            color: $pink;
            margin-bottom: 0;
            line-height: 120%;
            font-size: 2.4rem;            
        }
        
        h3 {
            color: $pink;
            line-height: 130%;
            font-size: 1.4rem;
        }
        
        p {
            font-size: 1.6rem;
            line-height: 110%;
            color: $light-gray;
        }
    }         
}  

.full-content-boxes {
    background: transparent;
    padding: 25px;
}

.full-content-boxes-wrapper {
    border-radius: 40px;
    background: rgba(255,255,255,.8);
    
    h1#main-page-title {
        background: transparent;
        border-radius: 0;
        margin-bottom: 30px;
        color: #000;
        font-size: 2.8rem;
        padding: 30px 0 0;
    }
}

// Landing page styles

.solutions-wrapper, .retail-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
        
    .solutions-boxes {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        
        a:hover {
            text-decoration: none;
        }
        
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 2.8rem;
            margin-bottom: 50px;
            font-weight: 500;
            color: $white;
            line-height: 100%;
            
            span {
                color: $pink;
            }
        }
        
        @media only screen and (max-width:767px) {
            .col {
                margin-bottom: 30px;
            }
        }
    }
    
    .full-content {
        .row {
            margin-bottom: 20px;
            
            @media only screen and (max-width:479px) {
                margin-bottom: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        h1 {           
            
            background: rgba(255, 255, 255, 0.8);
            border-radius: 40px;
            text-transform: none;
            font-size: 1.6rem;
            padding: 8px 15px 12px;
            line-height: 100%;
            
            span {
                color: $pink;
            }                  
        }
    }
}

.retail-wrapper {
    margin-bottom: 30px;
}

.bottom-margin {
    margin-bottom: 30px;
}

.animation-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    
    .animation-inner-container {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// Retail Content 

.retail-inner-wrapper {
    display: block;
    margin-bottom: 0;
    
    &:last-child {
        margin-bottom: 100px;
    }
    
    h2 {
        margin-bottom: 35px;       
        color: $pink;
        font-size: 64px;
        font-size: 3rem;        
    }
    
    p {
        color: $light-gray;
        font-size: 1.4rem;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
}

// Pricing boxes

.pricing-boxes {
    margin-bottom: 100px;
    @media only screen and (max-width: 767px) {
        margin-bottom: 70px;
    }
    
    h2 {
        margin-bottom: 30px;
    }
}

.card-deck {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    
    .card {
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        @media only screen and (max-width: 767px) {
            height: auto;
            margin-bottom: 30px;
        }
        
        .card-header {
            //height: 100%;
            background: #55575e;
            padding: 10px 25px;
            
            h2, p {
                text-align: center;
            }
            
            h2 {
                color: $white;
                font-size: 1.4rem;
            }
            
            p {
                color: #7f7f7f;
                font-size: 1rem;
                line-height: 110%;
            }
        }
        
        @-moz-document url-prefix() { 
          .card-header {
              height: 100%;
              max-height: 105px;
          }
        }
        
        .card-body {
            position: relative;
            min-height: 200px;
            display: table;
            width: 100%;
            
            .card-body-content {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            
            
                h2, h3, p, span {
                    text-align: center;
                }

                h2 {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    line-height: 100%;
                    font-weight: 700;
                }
                
                h3 {
                    font-size: 3rem;
                    line-height: 100%;
                    font-weight: 400;
                    margin-top: -50px;                    
                }

                p {
                    font-size: 3rem;
                    margin-bottom: 5px;
                    line-height: 100%;
                    font-weight: 700;
                }

                span {
                    display: block;
                    font-size: 0.8rem;
                    margin-bottom: 30px;
                    color: #c0c0c5;
                    font-weight: 400;                    
                }

                a {
                    display: block;
                    border: 2px solid $yellow;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 700;
                    padding: 5px 15px 10px;
                    border-radius: 7px;
                    position: absolute;
                    bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    max-width: 80%;
                    width: 80%;

                    &:hover {
                        text-decoration: none;
                        border: 2px solid transparent;
                        background: $yellow;
                        color: $white;
                    }
                }
            }
        }
        
        @-moz-document url-prefix() { 
          .card-body {
              height: 200px;
          }
        }
        
        .card-footer {
            border-top: 0;
            background: $white;
            padding: 15px 15px 0;            
            
            ul {
                display: block;
                list-style: none;
                padding: 10px 0;
                margin-bottom: 0;
                border-top: 1px solid rgba(0,0,0,.125);
                
                li {
                    font-size: 1rem;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
        
        &:hover {            
            .card-header {
                background: $blue;
                
                p {
                    color: $white;
                }
            }
            
            .card-body {
                .card-body-content {
                    
                    h2, span {                        
                        color: $light-gray;
                    }
                    
                    p {
                        color: $blue;
                    }
                }
            }
        }
    }       
}


.left-floated {
    order: -1;
    
    @media only screen and (max-width: 575px) {
        order: 0;
    }
}

.right-floated {
    order: 0;
}

#first, #second, #third, #fourth {
    padding-top: 103px;
}

body.page-template-page-full-content {
    .solutions-wrapper {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 991px) {
    .mobile-box {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-box {
        margin-bottom: 0;
    }
}

section.stats-scrolling-banner {
    margin-bottom: 100px;
}

#stats-slider-owl img.stats-slider-img {
    height: 50px;
    width: auto;
}

section.stats-scrolling-slider {
    .owl-stage-outer {
        margin-top: 30px;
    }
}

// Section Plans

.pricing-plans {
    display: block;
    margin-bottom: 100px;
    @media only screen and (max-width:767px) {
        margin-bottom: 70px;
    }
    
    h2 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
        
    .plan-box {
        border: 1px solid #ccc;
        border-radius: .25rem;
        padding: 20px;
        height: 100%;
        @media only screen and (max-width:767px) {
            margin-bottom: 30px;
            height: auto;
        }
        
        h2 {
            color: $pink;
            font-size: 2.2rem;
            line-height: 100%;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 1.4rem;
            line-height: 120%;
        }
    }
}

video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: inherit;
    height: 100%;
	object-fit: cover;	
    -o-object-fit: cover;
    z-index: -1;
}

/* Arrow */

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #fff;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}