/*
 *
 * Page elements
 *
 */   
         
.box-wrapper {
    padding: 100px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    min-height: 100%;
    height: 100%;
    display: table;
    width: 100%;
    margin: auto;
    @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    .inner-box-wrapper {   
        display: table-cell;
        vertical-align: middle;
        
        img {
            width: auto;
            max-width: 70%;
            max-height: 200px;
            margin: auto;
            display: block;
        }
        
        h2, h3, p {
            display: block;
            text-align: center;            
        }
             
        h2 {    
            color: $pink;
            margin-bottom: 0;
            line-height: 120%;
            font-size: 2.4rem;
            
            p {
                color: $pink;
                margin-bottom: 0;
                line-height: 120%;
                font-size: 2.4rem;
            }
        }
        
        h3 {
            color: $pink;
            line-height: 130%;
            font-size: 1.4rem;
        }
        
        p {
            font-size: 1.6rem;
            line-height: 110%;
            color: $light-gray;
        }
    }         
}  

.full-content-boxes {
    background: transparent;
    padding: 25px;
}

.full-content-boxes-wrapper {
    border-radius: 40px;
    background: rgba(255,255,255,.7);
}

// Landing page styles

.solutions-wrapper, .retail-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
        
    .solutions-boxes {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        
        a:hover {
            text-decoration: none;
        }
        
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 2.8rem;
            margin-bottom: 50px;
            font-weight: 500;
            color: $white;
            line-height: 100%;
            
            span {
                color: $pink;
            }
        }
        
        @media only screen and (max-width:479px) {
            .col {
                margin-bottom: 30px;
            }
        }
    }
    
    .full-content {
        .row {
            margin-bottom: 20px;
            
            @media only screen and (max-width:479px) {
                margin-bottom: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        h1 {
            
            p {
                background: rgba(255, 255, 255, 0.7);
                border-radius: 40px;
                text-transform: none;
                font-size: 1.6rem;
                padding: 8px 15px 12px;
                line-height: 100%;
                margin-bottom: 0;

                span {
                    color: $pink;
                }                
            }
        }
    }
}

.retail-wrapper {
    margin-bottom: 30px;
}

.bottom-margin {
    margin-bottom: 30px;
}

.animation-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    
    .animation-inner-container {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// Retail Content 

.retail-inner-wrapper {
    display: block;
    margin-bottom: 0;
    
    &:last-child {
        margin-bottom: 100px;
    }
    
    h2 {
        margin-bottom: 35px;
        
        p {
            color: $pink;
            font-size: 64px;
            font-size: 3rem;
        }
    }
    
    p {
        color: $light-gray;
        font-size: 1.4rem;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
}

// Pricing boxes

.pricing-boxes {
    margin-bottom: 100px;
    @media only screen and (max-width: 767px) {
        margin-bottom: 70px;
    }
}

.card-deck {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    
    .card {
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        @media only screen and (max-width: 767px) {
            height: auto;
            margin-bottom: 30px;
        }
        
        .card-header {
            //height: 100%;
            background: #55575e;
            padding: 10px 25px;
            
            h2, p {
                text-align: center;
            }
            
            h2 {
                p {
                    color: $white;
                    font-size: 1.4rem;
                }
            }
            
            p {
                color: #7f7f7f;
                font-size: 1rem;
                line-height: 110%;
            }
        }
        
        @-moz-document url-prefix() { 
          .card-header {
              height: 100%;
              max-height: 105px;
          }
        }
        
        .card-body {
            position: relative;
            min-height: 200px;
            display: table;
            width: 100%;
            
            .card-body-content {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            
            
                h2, h3, p, span {
                    text-align: center;
                }

                h2 {
                    p {
                        font-size: 1rem;
                        margin-bottom: 20px;
                    }
                }
                
                h3 {
                    p {
                        font-size: 3rem;
                        line-height: 100%;
                        font-weight: 400;
                        margin-top: -50px;
                    }
                }

                p {
                    font-size: 3rem;
                    margin-bottom: 5px;
                    line-height: 100%;
                    font-weight: 700;
                }

                span {
                    p {
                        display: block;
                        font-size: 0.8rem;
                        margin-bottom: 30px;
                        color: #c0c0c5;
                        font-weight: 400;
                    }
                }

                a {
                    display: block;
                    border: 2px solid $yellow;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 700;
                    padding: 5px 15px 10px;
                    border-radius: 7px;
                    position: absolute;
                    bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    max-width: 80%;
                    width: 80%;

                    &:hover {
                        text-decoration: none;
                        border: 2px solid transparent;
                        background: $yellow;
                        color: $white;
                    }
                }
            }
        }
        
        @-moz-document url-prefix() { 
          .card-body {
              height: 200px;
          }
        }
        
        .card-footer {
            border-top: 0;
            background: $white;
            padding: 15px 15px 0;            
            
            ul {
                display: block;
                list-style: none;
                padding: 10px 0;
                margin-bottom: 0;
                border-top: 1px solid rgba(0,0,0,.125);
                
                li {
                    font-size: 1rem;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
        
        &:hover {
            
            .card-header {
                background: $blue;
                
                p {
                    color: $white;
                }
            }
            
            .card-body {
                .card-body-content {
                    
                    h2, span {
                        p {
                            color: $light-gray;
                        }
                    }
                    
                    p {
                        color: $blue;
                    }
                }
            }
        }
    }   
    
}


.left-floated {
    order: -1;
    
    @media only screen and (max-width: 575px) {
        order: 0;
    }
}

.right-floated {
    order: 0;
}

#first, #second, #third, #fourth {
    padding-top: 103px;
}

body.page-template-page-full-content {
    .solutions-wrapper {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 991px) {
    .mobile-box {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-box {
        margin-bottom: 0;
    }
}

section.stats-scrolling-banner {
    margin-bottom: 100px;
}

#stats-slider-owl img.stats-slider-img {
    height: 50px;
    width: auto;
}

section.stats-scrolling-slider {
    .owl-stage-outer {
        margin-top: 30px;
    }
}

// Section Plans

.pricing-plans {
    display: block;
    margin-bottom: 100px;
    @media only screen and (max-width:767px) {
        margin-bottom: 70px;
    }
    
    h2 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
        
    .plan-box {
        border: 1px solid #ccc;
        border-radius: .25rem;
        padding: 20px;
        height: 100%;
        @media only screen and (max-width:767px) {
            margin-bottom: 30px;
            height: auto;
        }
        
        h2 {
            color: $pink;
            font-size: 2.2rem;
            line-height: 100%;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 1.4rem;
            line-height: 120%;
        }
    }
}





































