/*
 *
 * Page elements
 *
 */   
         
.box-wrapper {
    padding: 100px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    min-height: 100%;
    height: 100%;
    display: table;
    width: 100%;
    margin: auto;
    @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    .inner-box-wrapper {   
        display: table-cell;
        vertical-align: middle;
        
        img {
            width: auto;
            max-width: 70%;
            max-height: 200px;
            margin: auto;
            display: block;
        }
        
        h2, h3, p {
            display: block;
            text-align: center;            
        }
             
        h2 {    
            color: $pink;
            margin-bottom: 0;
            line-height: 120%;
            font-size: 2.4rem;
            
            p {
                color: $pink;
                margin-bottom: 0;
                line-height: 120%;
                font-size: 2.4rem;
            }
        }
        
        h3 {
            color: $pink;
            line-height: 130%;
            font-size: 1.4rem;
        }
        
        p {
            font-size: 1.1rem;
            line-height: 110%;
            color: $light-gray;
        }
    }         
}  

.full-content-boxes {
    padding: 30px;
}

// Landing page styles

.solutions-wrapper, .retail-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    padding-top: 103px;
        
    .solutions-boxes {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        
        a:hover {
            text-decoration: none;
        }
        
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 2.8rem;
            margin-bottom: 50px;
            font-weight: 500;
            color: $light-gray;
            line-height: 100%;
            
            span {
                color: $pink;
            }
        }
    }
    
    .full-content {
        .row {
            margin-bottom: 30px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        h1 {
            
            p {
                background: rgba(255, 255, 255, 0.7);
                border-radius: 40px;
                text-transform: none;
                font-size: 1.6rem;
                padding: 8px 15px 12px;
                line-height: 100%;
                margin-bottom: 0;

                span {
                    color: $pink;
                }                
            }
        }
    }
}

.retail-wrapper {
    margin-bottom: 30px;
}

.bottom-margin {
    margin-bottom: 30px;
}

// Retail Content 

.retail-inner-wrapper {
    display: block;
    margin-bottom: 90px;
    
    h2 {
        color: $pink;
    }
    
    p {
        color: $light-gray;
        font-size: 1.4rem;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
}
