#carousel {
    .owl-theme {
        .owl-nav {
            margin-top: -20px;
            button {
                &:hover {
                    background-color: transparent;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.carousel-btn {
    display: none;
}


@media #{$ipad-portrait} {
    #carousel,
    .n2-ss-slider-3,
    .n2-ss-slide-background-wrap,
    .n2-ss-slide-backgrounds,
    .n2-ss-align {
        height: calc(100vh - 30px) !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .carousel-btn {
        position: absolute;
        display: block;
        left: 20px;
        top: 75vh;
        color: #fff;
        background-color: $pink;
        padding: 6px 30px 10px;
        border: none;
        font-size: 2em;
    }

    .home {
        .carousel-btn {
            top: 75vh;
        }
    }

    .nextend-arrow {
        display: none !important;
    }

    #carousel {
        .v-carousel-wrapper {
            margin-left: -17px;
            width: 100%;
            max-width: 305px;
            top: calc(50% - 205px);
            h1, .v-carousel-heading {
                width: 100%;
                text-align: left;
                padding: 10px 10px 10px 15px;
                line-height: 1em;
                font-size: 2.6rem;
                span {
                    display: block;
                }
            }
            .v-carousel-content {
                font-weight: 700;
                line-height: 2rem;
                padding: 5px 30px 20px 20px;
            }
        }
    }

    .owl-theme {
        .owl-nav {
            .owl-prev {
                margin-left: -20px !important;
            }
        }
    }
}

.owl-dot {
    &:focus {
        outline:none;
    }
}


// Set some of the images more centrally
// in the Smart sliders
@media #{$handheld} {
    .n2-ss-slider-1 {
        .n2-ss-slide-backgrounds {
        
            .n2-ss-slide-background.n2-ow:nth-child(1) {
                div {
                    .n2-ss-slide-background-image {
                        background-position: 65%, 0 !important;
                    }
                }
            }
            .n2-ss-slide-background.n2-ow:nth-child(3) {
                div {
                    .n2-ss-slide-background-image {
                        background-position: 44%, 0 !important;
                    }
                }
            }
        }
    }
    
    .n2-ss-slider-3, .n2-ss-slider-4 {
        .n2-ss-slide-background.n2-ow:nth-child(1) {
            div {
                .n2-ss-slide-background-image {
                    background-position: 100%, 0 !important;
                }
            }
        }
    }
}
