//Insert or rewrite allready defined HTML modules.

@import "./pages";  // <--------- Loads pages specific styles...
@import "./sections";  // <--------- Loads sections specific styles...


//Rewrite background color of the header navbar with custom color.
@include bg-variant('.bg-custom', $white);

//Top navigation bar with the primary menu.
.navbar-light {
    .navbar-nav {
        padding: 0 40px;
        .nav-link {
            font-size: 1.4rem;
            color: $light-gray;
        }
    } 
    @include moduled-btn( '#header-btn.pink-btn', 0, 10px, 30px, $pink ) {
        font-size: 1.4rem;
    }
}

//Header
.carousel {
    .carousel-inner {
        .carousel-item {
            img {
                display: block !important;
                width:100% !important;
            }
        }
    }
    .v-static {
        position: absolute;
        top: 0;
        left: 150px;
        right: 0;
        bottom: 0;
        opacity:0;
        transition: all .8s;
        &.animate {
            left: 0;
            opacity: 1;
            transition: all .8s;
            transition-timing-function: ease-out;
        }
        .v-carousel-wrapper {
            position: absolute;
            top: calc(50% - 105px);
            max-width:620px;
            height: auto;
            background-color: rgba(255,255,255,0.6);
            color: $light-gray;
            .v-carousel-heading, h1 {
                padding: 18px 25px 0;
                font-family: 'Serenity Bold';
                font-size: 3.2rem;
                span {
                    color: $pink;
                }
            }
            .v-carousel-content {
                padding: 5px 25px 34px;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
            }
        }
        .v-owl-carousel {
            position: absolute;
            bottom: 50px;
        }
    }
    div[class^="n2-font-"], div[class*=" n2-font-"] {
        font-family: 'Serenity Bold' !important;
        font-size: 2.8rem !important; 
    }
    p[class^="n2-font-"], p[class*=" n2-font-"] {
        font-family: 'Serenity Demi Bold' !important;
        font-size: 1.8rem !important;
        color: $light-gray !important;
        line-height: 1.8rem !important;
    }
}

//Stats counter && providers-suppliers section
.v-wrapper {
    
    &-counter {
        height: 300px;
        padding-top: 90px;
        padding-bottom: 90px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &-ret-sup {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: 120px;
        &-heading {
            position: absolute;
            top: -50px;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: $light-blue;
            color: $white;
            h2 {
                font-size: 1.3rem;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 55px;
            }
        }
    }
}
.v-counter-wrapper {
    border-right: 3px solid $pink;
    padding-right: 20px;
    color: $white;
    &:last-child{
        border: none;
    } 
    .v-counter{
        font-size: 5.5rem;	
        font-weight: 400;	
        letter-spacing: 4px;	
        line-height: 3rem;	
        text-align: center;
    }
    .v-counter-label {
        font-size: 1rem;	
        line-height: 3rem;	
        text-align: center;
    }
    .v-counter-unit {
        font-size: 4.5rem;	
        font-weight: 400;	
        letter-spacing: 4px;	
        line-height: 3rem;
    }
}

.v-ret-sup-wrapper {
    position: relative;
    padding-right: 20px;
    margin-top: 20px;
    color: $white;
    &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 20px;
        width: 3px;
        left: 0;
        background-color: $light-blue;
    }
    &:first-of-type {
        &:after {
            content: none;
        }
    }
    p {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 0;
        &:last-child {
            font-size: 1rem;
            margin-top:0;
        }
    }
}

//Pagination

.page-link {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: $light-gray;
}

.page-item.active .page-link {
    border-color: transparent;
    background-color: transparent;
    font-family: 'Serenity Bold';
    font-size: 1.4rem;
    color: $pink;
}


.socials-menu a[href*="facebook.com"]:before {
	content: "\f09a";
}

.socials-menu a[href*="twitter.com"]:before {
	content: "\f099";
}

.socials-menu a[href*="plus.google.com"]:before {
	content: "\f0d5";
}

.socials-menu a[href*="linkedin.com"]:before {
	content: "\f0e1";
}

.socials-menu a[href*="instagram.com"]:before {
	content: "\f16d";
}

.socials-menu a[href*="yelp.com"]:before {
	content: "\f1e9";
}

.socials-menu a[href*="youtube.com"]:before {
	content: "\f167";
}

.socials-menu a[href*="flickr.com"]:before {
	content: "\f16e";
}

.socials-menu a[href*="pinterest.com"]:before {
	content: "\f0d2";
}

.socials-menu a[href*="github.com"]:before {
	content: "\f09b";
}

.socials-menu a[href*="vimeo.com"]:before {
	content: "\f27d";
}

.socials-menu a[href*="dribbble.com"]:before {
	content: "\f17d";
}

.socials-menu a[href*="wordpress.com"]:before {
	content: "\f19a";
}

.socials-menu a[href*="tumblr.com"]:before {
	content: "\f173";
}

.socials-menu a[href*="codepen.io"]:before {
	content: "\f1cb";
}

.socials-menu a[href*="skype.com"]:before {
	content: "\f17e";
}

.socials-menu a[href*="reddit.com"]:before {
	content: "\f1a1";
}

.socials-menu a[href*="stumbleupon.com"]:before {
	content: "\f1a4";
}

.socials-menu a[href*="pocket.com"]:before {
	content: "\f265";
}

.socials-menu a[href*="foursquare.com"]:before {
	content: "\f180";
}

.socials-menu a[href*="vk.com"]:before {
	content: "\f189";
}

.socials-menu a[href*="weibo.com"]:before {
	content: "\f18a";
}

.socials-menu a[href*="wechat.com"]:before {
	content: "\f1d7";
}

.socials-menu a[href*="behance.net"]:before {
	content: "\f1b4";
}