/**
 *
 * All pages rules
 *
 */

 .entry-header {
    .under-header-wrapper {
        .under-header-logo {
            img {
                display: block;
                margin: 30px auto 50px auto;
                @media screen and (min-width: 767px) {
                    margin: 80px auto 60px auto;
                    width: 50%;
                }
            }
        }
        .under-header-section {
            h3 {
                font-size: 2.8rem;
                color: $light-gray;
                @media screen and (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
            p {
                margin-top: 10px;
                margin-bottom: 8px;
                font-size: 1.5rem;   
                @media #{$handheld-landscape}, #{$iphone-x-landscape} { 
                    font-size: 1.2rem;
                } 
            }
            &-content {
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 25px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                @media #{$handheld} {
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
                @media screen and (min-width: 768px) {
                    margin-top: 10px;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2rem; 
                    @media #{$handheld}, #{$handheld-landscape}, #{$iphone-x-landscape} { 
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                    }  
                }
            }
            &-footer {
                width: 100%;

            }
            .button_wrapper {
                position:relative;
                height: 80px;
                width: 100%;
                text-align: center;
                @include moduled-btn('.under_header_btn.blue-btn', 0, 10px, 30px, $light-blue) {
                    font-size: 1.4rem;
                }
            }
        }
    }
 }

.entry-content {
    margin-top: 50px;
    margin-bottom: 80px;
    &-inside {
        width: 100%;
        p {
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $light-gray;
            &:last-child {
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 564px) {
    .entry-content {
        margin-top: 50px;
        margin-bottom: 80px;
        &-inside {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
            p {
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: $light-gray;
                &:last-child {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.entry-footer {
    margin-top: 60px;
    margin-bottom: 100px;
}

.owl-theme {
    .owl-nav {
        position: absolute !important;
        margin-top: 0 !important;
        top: 0;
        width: 100%;
        margin-left: 0;
        height: 100%;
        @media #{$handheld}, #{$handheld-landscape}, #{$ipad-landscape}, #{$ipad-portrait} {
            width: 100%;
            margin-left: 0;
        }
        i {
            font-size: 3rem;
            color: white;
        }
        .owl-prev {
            position: absolute;
            top: calc(50% - 29px);
            left: -20px;
        }
        .owl-next {
            position: absolute;
            top: calc(50% - 29px);
            right: -20px;
        }
    }
    &.owl-carousel {
        .owl-item {
            img {
                height: 30px;   
                width: auto;
                margin: 0 auto; 
            }
        }
    }
    
    .owl-item {
        .v-testimonials {
            img {
                width: 100px !important;
                height: auto !important;
                margin: 0 auto !important; 
            }
        }  
    }

}   


/**
 *
 * Providers page
 *
 */
.#{$providers} {
    .v-section .v-box-wrapper .v-box {
        @include moduled-btn( '.v-box-button', 0, 10px, 30px, $light-blue ) {
            font-size: 1.4rem;
            color: $white;
            a {
                color:$white;
                &:hover, &:active {
                    text-decoration: none;
                    color:$white;
                }
            }
        } 
    }
    // Fix padding on the button for mobile landscape
    @media #{$handheld-landscape} {
        .entry-header .under-header-wrapper .under-header-section .button_wrapper .under_header_btn.blue-btn {
            padding: 10px 10px !important;
        }
    } 
}


/**
 *
 * About Us page
 *
 */
.#{$about} {
    .wrapper {
        // Dodge the fixed header
            margin-top: 120px;
    }
    .section {
        &-purpose {
            position: relative;
            &-content {
                position: relative;
                &-inside {
                    position: relative;
                    margin-top: 10%;
                    width: 90%;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin-top: 0;
                    }
                    @media #{$iphone-x-landscape} {
                        margin-top: 5%;
                    }
                }
            }
            img {
                @media #{$between-mobile-and-ipad-portrait} {
                    margin-top: 25px;
                }
            }
            h2 {
                font-size: 4rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.4rem;
                }
                @media #{$iphone-x-landscape} {
                    font-size: 3rem;
                }
            }
            p {
                font-size: 1.6rem;
                font-family: 'Serenity Light';
                font-weight: 500;
                color: $light-gray;
                @media #{$iphone-x-landscape} {
                    font-size: 1.2rem;
                }
            }
        }
        &-people.v-full-width {
            @media screen and (max-width: 768px) {
                width: calc(100% + 30px);
                margin-right: -25px;
                padding-bottom: 20px;
                padding-top: 60px;
                .col-sx-6 {
                    width: 50%;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        &-people {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: rgba(69,81,96, 0.05);
            h2 {
                margin-bottom: 50px;
                font-size: 3rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.2rem;
                }
            }
            &-content-holder {
                position: relative;
                margin-bottom: 40px !important;
                padding-bottom: 40px;
                transition: all .5s;
                width: 205px;
                margin: 0 auto;
                @media #{$handheld}, #{handheld-landscape}, #{iphone-x-landscape}, #{$ipad-portrait}, #{$ipad-landscape} {
                    width: 100%;
                    margin-bottom: 10px !important;
                    padding-bottom: 10px;
                }
                @media #{$iphone-x-landscape} {
                    width: 165px;
                }
                img {
                    width: 100%;
                    transform: translate(0, 0px);
                    transition: all 0.7s;
                }
                &:hover {
                    .content-wrapper { 
                        padding: 5px 20px 20px;
                        height: 85px;
                        background-color: rgba(69, 81, 96, 1);
                        transform: translate(0, 266px);
                        -webkit-transition: background-color 0.8s, transform 0.5s, height 0.5s, padding 0.5s;
                        -moz-transition: background-color 0.8s, transform 0.5s, height 0.5s, padding 0.5s;
                        -o-transition: background-color 0.8s, transform 0.5s, height 0.5s, padding 0.5s;
                        transition: background-color 0.8s, transform 0.5s, height 0.5s, padding 0.5s;
                        transition-delay:1s;
                        @supports (-ms-ime-align: auto) {
                            height: 85px;
                        }
                        transform: translate(0, 196px);
                        transition-delay:1s;
                        @media #{$handheld}, #{$handheld-landscape}, #{$ipad-landscape}, #{$ipad-portrait} {
                            padding: 5px 10px 20px;
                            height: auto;
                            background-color: transparent !important;
                            transform: translate(0, 5px);
                        }
                        h3 {
                            margin-bottom: 5px;
                            transition: all 0.5s;
                        }
                        p {
                            opacity: 1;
                            transition: all 0.5s;
                            transition-delay: 1s;
                        }
                        @media #{$handheld} {
                            position: relative;
                            background-color: rgba(69, 81, 96, 0.8);
                            transform: translate(0, 5px);
                        }
                    }
                    position: relative;
                    z-index: 1000;
                    transition: all 0.5s;
                    transition-delay: 1s;
                    img {
                        transform: translate(0, -10px);
                        transition: all 0.7s;
                        transition-delay: 1s;
                    }
                }
                .content-wrapper {
                    position: absolute;
                    padding: 20px 20px 20px;
                    width: 100%;
                    height: calc(100% - 40px);
                    top: 0;
                    left: 0;
                    background-color: rgba(69, 81, 96, 0.95);
                    color: #fff;
                    transform: translate(0, 0);
                    transition: all 0.5s;
                    @media #{$handheld}, #{$handheld-landscape}, #{$ipad-landscape}, #{$ipad-portrait} {
                        position: relative;
                        height: auto;
                        background-color: transparent;
                        color: $light-gray;
                        transform: translate(0, 10px);
                        padding: 20px 10px 20px;
                    }
                    h3 {
                        font-size: 1.55rem;
                        margin-bottom: 20px;
                        transition: all 0.5s;
                    }
                    h4 {
                        font-size: 1.1rem;
                    }
                    p {
                        opacity: 0;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        transition: all 0.5s;
                        @media #{$handheld}, #{$handheld-landscape}, #{$ipad-landscape}, #{$ipad-portrait} {
                            opacity: 1;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        h3 {
                            font-size: 1.4rem;
                            margin-bottom: 5px;
                        }
                        h4 {
                            font-size: 1.1rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        &-partners, &-investors {
            position: relative;
            &-content {
                position: relative;
                display: block;
                &-inside {
                    display: block;
                    position: relative;
                    padding: 15% 20%;
                    width: 100%;
                    .images-partners {
                        margin-top: 60px;
                        width: 80%;
                        margin-left: 8%;
                        img {
                            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px 0;
                    }
                    h2 {
                        font-size: 3rem;
                        font-family: 'Serenity Light';
                        color: $light-gray;
                        text-transform: uppercase;
                        @media screen and (max-width: 768px) {
                            font-size: 2.2rem;
                            margin-top: 40px;
                        }
                        @media #{$iphone-x-landscape} {
                            font-size: 2.2rem;
                        }
                    }
                    p {
                        font-size: 1.4rem;
                        font-family: 'Serenity Light';
                        color: $light-gray;
                        @media #{$handheld}, #{$handheld-landscape}, #{$iphone-x-landscape} { 
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .image-holder {
                padding-right: 0;
                padding-left: 0;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                max-height: 100%;
                min-height: 360px;
                img {
                    width: 40%;
                    margin-right: 5%;
                    height: auto;
                    float: left;
                }
            }
            .partner-logo-holder {
                height: 100px;
                .partner-logo-wrapper {
                    width: 50%;
                    float: left;
                    text-align: center;
                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }
            .investor-logo-holder {
                height: 100px;
                .investor-logo-wrapper {
                    width: 100%;
                    float: left;
                    text-align: center;
                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }
        }
        &-partners {
            .image-holder {
                background-position: center center;
                background-repeat: no-repeat;
                @media #{$handheld}, #{$handheld-landscape} {
                    margin-bottom: 40px;
                }
                @media #{$iphone-x-landscape} {
                    margin-bottom: 0;
                }
                @media only screen and (min-width: 768px) {
                    left: 50%;
                    right: auto;
                }
            }
            &-content {
                @media only screen and (min-width: 768px) {
                    left: auto;
                    right: 50%;     
                }    
            }
        }
        &-contact.v-full-width {
            @media screen and (max-width: 768px) {
                width: calc(100% + 25px);
                margin-right: -25px;
                padding-top: 0;
                @media #{$between-mobile-and-ipad-portrait} {
                    padding-top: 40px;
                    iframe {
                        margin-top: 35px;
                    }
                }
            }
        }
        &-contact {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: rgba(69,81,96, 0.05);
            h2 {
                margin-bottom: 3rem;
                font-size: 3rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.2rem;
                    margin-top: 40px;
                }
                @media #{$iphone-x-landscape} {
                    margin-bottom: 2rem;
                    font-size: 2rem;
                }
            }
            h3 {
                font-size: 1.6rem;
                font-family: 'Serenity Bold';
                color: $light-gray;
            }
            p {
                font-size: 1.2rem;
                font-family: 'Serenity Light';
                font-weight: 500;
                line-height: 1.2rem;
                color: $light-gray;
            }
        }
    }
}

/**
*
* 404 Page
*
*/

#error-404-wrapper {
    margin-top: 50px;
    height: calc(100vh - 205px);
    @media #{$handheld-landscape} {
        height: 200vh;
    }
    padding-top: 35vh;
    @media #{$ipad-landscape} {
        margin-top: 40vh;
        height: calc(70vh - 205px);
    }
    .page-content a {
        display: block;
        height: 100px;
    }
    @include moduled-btn( '#homepage', 0, 10px, 30px, $pink ) {
        font-size: 1.4rem;
    }
}
 

/**
*
* Blog
*
*/
.blog, .archive, .search     {
    #primary {
        @extend %clearfix;
        margin-bottom: 100px;
    }
    .wrapper {
        // Dodge the fixed header
            margin-top: 120px;
    }
    div#categories {
        margin-left: 35px;
        width: 80%;
    }
    select#cat {
        //first reset select element
            appearance: none;
            line-height: normal;
            position: relative;
            background-position: right 10px top 50%;
            background-repeat: no-repeat;
            //then style
            border: none;
            width: 60%;
            font-size: 0.95rem;
            outline: none;
            padding-bottom: 10px;
            border-bottom: 2px solid $pink;
    }
    .v-categories-menu {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        a {
            position: relative;
            font-size: 1.2rem;
            font-family: 'Serenity Demi Bold';
            color: $light-gray;
            margin-right: 38px;
            text-decoration: none;
            &:before,
            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                width: 0;
                height: 2px;
                width: 0;
                background-color: $pink;
                @include tranz(.3s, all);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
            &.current-page {
                color: $pink;
                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    height: 2px;
                    background-color: $pink;
                }
                &:before {
                    left: 0;
                    width: 50%;
                }
                &:after {
                    right: 0;
                    width: 50%;
                }
            }
            &:hover {
                color: $pink;
                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
    }
    .grid {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
        margin-bottom: 100px;
        &:after {
            @extend %clearfix;
        }
        .gutter-sizer {
            width: 10px;
        }
        .grid-sizer {
            width: calc(50% - 10px);
        }
        .grid-item { 
            position: relative;
            float: left;
            width: 50%;
            height: 460px;
            h2 {
                @media #{$handheld} {
                    font-size: 1.2rem;
                    line-height: 1.5 !important;
                }
            }
            .category_name_wrapper {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 1.2rem;
                font-family: 'Serenity Demi Bold';
                background-color: $light-gray;
                padding: 10px;
                a {
                    color: $white;
                    &:hover, &:active {
                        color: darker($white);
                    }
                }
            }
            a.v-img-expose {
                display: block;
                width: calc(100% - 10px);
                height: 450px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--width2 { 
                height: 410px;
                width: 100%;
                a.v-img-expose {
                    display: block;
                    width: calc(100% - 10px);
                    height: 400px;
                }
            }
            &--height2 { 
                height: 920px;
                width:  50% ;
                a.v-img-expose {
                    width: calc(100% - 10px);
                    height: 910px;
                }
            }
        }
    }
    .header-title-wrapper {
        position: absolute;
        bottom: 110px;
        left: 30px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-top-right-radius: 15px;
        width: 50%;
        height: auto;
        @media #{$handheld} {
            width: 75%;
        }
        h2 {
            line-height: 1;
        }
        .entry-title {
            a {
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-family: 'Serenity Demi Bold';
                color: $light-gray;
            }
        }
    }
    a.read_more_hyperlink {
        display: block;
        position: relative;
        bottom: 10px;
        left: 110px;
        @include moduled-btn( 'button', 0, 10px, 30px, $pink ) {
            font-size: 1.4rem;
        }
    }
    .searchandfilter {
        @media only screen and (min-width: 1200px) {
            margin-top: 15px;
            padding-left: 72px;
            min-height: 70px;
            max-height: 110px;
        }
        @include moduled-btn( 'input[type=submit]', 0, 10px, 30px, $pink ) {
            font-size: 0.9rem;
        }
        ul li:last-child {
            display: block;
        }
        input[type=submit] {
            position: relative !important;
            bottom: 3px;
            -ms-transform: translate(0, 0) !important;
            -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
        }
        select {
            padding: 5px 30px;
        }
    }
}

.single-post {
    .entry-header {
        
        background-color: lighten($light-gray, 60%);
        width: 100%;
        height: 40vh;
        .header-inner {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .entry-content {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-family: 'Serenity Light';
        .entry-meta {
            font-size: 1.2rem;
            margin-bottom: 40px;
        }
        @media #{$handheld}, #{$handheld-landscape}, #{$iphone-x-landscape} { 
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
        h1 {
            font-size: 3rem;
            font-family: 'Serenity Demi Bold';
            color: $light-gray;
            @media screen and (max-width: 768px) {
                font-size: 2.2rem;
            }
        }
    }
    .grid {
        width: 80%;
        margin-top: 40px;
        margin-bottom: 100px;
        &:after {
            @extend %clearfix;
        }
        .grid-item { 
            position: relative;
            float: left;
            width: 50%;
            height: 460px;
            .category_name_wrapper {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 1.2rem;
                font-family: 'Serenity Demi Bold';
                background-color: $light-gray;
                padding: 10px;
                a {
                    color: $white;
                    &:hover, &:active {
                        color: darker($white);
                    }
                }
            }
            a.v-img-expose {
                display: block;
                width: calc(100% - 10px);
                height: 450px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    .header-title-wrapper {
        position: absolute;
        bottom: 110px;
        left: 30px;
        padding: 20px;
        background-color: $white;
        width: 50%;
        height: auto;
        .entry-title {
            a {
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-family: 'Serenity Demi Bold';
                color: $light-gray;
            }
        }
    }
    a.read_more_hyperlink {
        display: block;
        position: relative;
        bottom: 10px;
        left: 110px;
        @include moduled-btn( 'button', 0, 10px, 30px, $pink ) {
            font-size: 1.4rem;
        }
    }
}