/**
 *
 * All pages rules
 *
 */

 .entry-header {
    .under-header-wrapper {
        .under-header-logo {
            img {
                display: block;
                margin: 30px auto 50px auto;
                @media screen and (min-width: 768px) {
                    margin: 80px auto 60px auto;
                }
            }
        }
        .under-header-section {
            h3 {
                font-size: 2.8rem;
                color: $light-gray;
                @media screen and (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
            p {
                margin-top: 10px;
                margin-bottom: 8px;
                font-size: 1rem;    
            }
            &-content {
                border-top: 2px solid #979797;
                border-bottom: 2px solid #979797;
                margin-top: 25px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                @media screen and (min-width: 768px) {
                    margin-top: 10px;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 2rem;    
                }
            }
            &-footer {
                width: 100%;

            }
            .button_wrapper {
                position:relative;
                height: 80px;
                width: 100%;
                text-align: center;
                @include moduled-btn('.under_header_btn.blue-btn', 0, 10px, 30px, $light-blue) {
                    font-size: 1.4rem;
                }
            }
        }
    }
 }

.entry-content {
    margin-top: 50px;
    margin-bottom: 80px;
    &-inside {
        width: 100%;
        p {
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: $light-gray;
            &:last-child {
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 564px) {
    .entry-content {
        margin-top: 50px;
        margin-bottom: 80px;
        &-inside {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
            p {
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: $light-gray;
                &:last-child {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.entry-footer {
    margin-top: 60px;
    margin-bottom: 100px;
}

.owl-theme {
    .owl-nav {
        position: absolute;
        margin-top: 5px;
        top: 0;
        width: 100%;
        i {
            font-size: 3rem;
            color: white;
        }
        .owl-prev {
            position: absolute;
            left: 0;
            margin-top: -15px;
        }
        .owl-next {
            position: absolute;
            right: 0;
            margin-top: -15px;
        }
    }
    &.owl-carousel {
        .owl-item {
            img {
                height: 50px;   
                width: auto;
                margin: 0 auto; 
            }
        }
    }
    
    .owl-item {
        .v-testimonials {
            img {
                width: 100px !important;
                height: auto !important;
                margin: 0 auto !important; 
            }
        }  
    }

}   


/**
 *
 * Providers page
 *
 */
.#{$providers} {
    .v-section .v-box-wrapper .v-box {
        @include moduled-btn( '.v-box-button', 0, 10px, 30px, $light-blue ) {
            font-size: 1.4rem;
            color: $white;
            a {
                color:$white;
                &:hover, &:active {
                    text-decoration: none;
                    color:$white;
                }
            }
        } 
    }
}


/**
 *
 * About Us page
 *
 */
.#{$about} {
    .wrapper {
        // Dodge the fixed header
            margin-top: 120px;
    }
    .section {
        &-purpose {
            position: relative;
            &-content {
                position: relative;
                &-inside {
                    position: relative;
                    margin-top: 10%;
                    width: 90%;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin-top: 0;
                    }
                }
            }
            h2 {
                font-size: 4rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.4rem;
                }
            }
            p {
                font-size: 1.6rem;
                font-family: 'Serenity Light';
                font-weight: 500;
                color: $light-gray;
            }
        }
        &-people.v-full-width {
            @media screen and (max-width: 768px) {
                width: calc(100% + 25px);
                margin-right: -25px;
                padding-bottom: 20px;
                padding-top: 60px;
                .col-sx-6 {
                    width: 50%;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        &-people {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: rgba(69,81,96, 0.05);
            h2 {
                margin-bottom: 50px;
                font-size: 3rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.2rem;
                }
            }
            &-content-holder {
                position: relative;
                margin-bottom: 40px !important;
                padding-bottom: 40px;
                transition: all .5s;
                img {
                    width: 100%;
                    transform: translate(0, 0px);
                    transition: all 0.7s;
                }
                &.upper {
                    width: 275px;
                    margin: 0 auto;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        img {
                            width: 100%;
                            transform: translate(0, 0px);
                            transition: all 0.7s;
                        }
                    }
                    @media screen and (min-width: 769px) {
                        &.first {
                            transform: translateX(-12px);
                        }
                        &.last {
                            transform: translateX(13px);
                        }
                    }
                }
                &.lower {
                    width: 205px;
                    margin: 0 auto;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                &:hover {
                    &.lower {
                        .content-wrapper {
                            transform: translate(0, 196px);
                        }
                    }
                    position: relative;
                    z-index: 1000;
                    transition: all 0.5s;
                    img {
                        transform: translate(0, -10px);
                        transition: all 0.7s;
                    }
                    
                    .content-wrapper {
                        padding: 10px 20px 20px;
                        height: auto;
                        background-color: rgba(69, 81, 96, 1);
                        transform: translate(0, 266px);
                        transition-property: transform, height;
                        transition-duration:0.5s, 0.5s;
                        transition-delay:0s, 0.5s;
                        
                        h3 {
                            margin-bottom: 5px;
                            transition: all 0.5s;
                        }
                        p {
                            opacity: 1;
                            transition: all 0.5s;
                        }
                        @media #{$handheld} {
                            position: relative;
                            background-color: rgba(69, 81, 96, 0.35);
                            transform: translate(0, 10px);
                        }
                    }
                }
                .content-wrapper {
                    position: absolute;
                    padding: 40px 20px 20px;
                    width: 100%;
                    height: calc(100% - 40px);
                    top: 0;
                    left: 0;
                    background-color: rgba(69, 81, 96, 0.95);
                    color: #fff;
                    transform: translate(0, 0);
                    transition: all 0.5s;
                    @media #{$handheld} {
                        position: relative;
                        background-color: rgba(69, 81, 96, 0.35);
                        transform: translate(0, 10px);
                    }
                    h3 {
                        font-size: 1.55rem;
                        margin-bottom: 20px;
                        transition: all 0.5s;
                    }
                    h4 {
                        font-size: 1.1rem;
                    }
                    p {
                        opacity: 0;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        transition: all 0.5s;
                        @media #{$handheld} {
                            opacity: 1;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        h3 {
                            font-size: 1.2rem;
                        }
                        h4 {
                            font-size: 1.1rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        &-partners, &-investors {
            position: relative;
            &-content {
                position: relative;
                display: block;
                &-inside {
                    display: block;
                    position: relative;
                    padding: 15% 20%;
                    width: 100%;
                    .images-partners {
                        margin-top: 60px;
                        width: 80%;
                        margin-left: 8%;
                        img {
                            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px 0;
                    }
                    h2 {
                        font-size: 3rem;
                        font-family: 'Serenity Light';
                        color: $light-gray;
                        text-transform: uppercase;
                        @media screen and (max-width: 768px) {
                            font-size: 2.2rem;
                            margin-top: 40px;
                        }
                    }
                    p {
                        font-size: 1.3rem;
                        font-family: 'Serenity Light';
                        color: $light-gray;
                    }
                }
            }
            .image-holder {
                padding-right: 0;
                padding-left: 0;
                background-size: cover;
                background-repeat: no-repeat;
                max-height: 100%;
                min-height: 360px;
                img {
                    width: 40%;
                    margin-right: 5%;
                    height: auto;
                    float: left;
                }
            }
            .partner-logo-holder {
                height: 100px;
                .partner-logo-wrapper {
                    width: 50%;
                    float: left;
                    text-align: center;
                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }
            .investor-logo-holder {
                height: 100px;
                .investor-logo-wrapper {
                    width: 100%;
                    float: left;
                    text-align: center;
                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }
        }
        &-partners {
            .image-holder {
                @media screen and (max-width: 768px) {
                    margin-bottom: 40px;
                }
            }
        }
        &-contact.v-full-width {
            @media screen and (max-width: 768px) {
                width: calc(100% + 25px);
                margin-right: -25px;
                padding-top: 0;
            }
        }
        &-contact {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: rgba(69,81,96, 0.05);
            h2 {
                margin-bottom: 3rem;
                font-size: 3rem;
                font-family: 'Serenity Light';
                color: $light-gray;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 2.2rem;
                    margin-top: 40px;
                }
            }
            h3 {
                font-size: 1.6rem;
                font-family: 'Serenity Bold';
                color: $light-gray;
            }
            p {
                font-size: 1.2rem;
                font-family: 'Serenity Light';
                font-weight: 500;
                line-height: 1.2rem;
                color: $light-gray;
            }
        }
    }
}
 

/**
*
* Blog
*
*/
.blog, .archive {
    .wrapper {
        // Dodge the fixed header
            margin-top: 120px;
    }
    .v-categories-menu {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        a {
            position: relative;
            font-size: 1.2rem;
            font-family: 'Serenity Demi Bold';
            color: $light-gray;
            margin-right: 38px;
            text-decoration: none;
            &:before,
            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                width: 0;
                height: 2px;
                width: 0;
                background-color: $pink;
                @include tranz(.3s, all);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }

            // &:before,
            // &:after {
            //     position: absolute;
            //     content: '';
            //     bottom: 0;
            //     width: 0;
            //     height: 2px;
            //     width: 0;
            //     background-color: $pink;
            //     @include tranz(.3s, all);
            // }
            // &:before {
            //     left: 50%;
            // }
            // &:after {
            //     right: 50%;
            // }
            &.current-page {
                color: $pink;
                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    height: 2px;
                    background-color: $pink;
                }
                &:before {
                    left: 0;
                    width: 50%;
                }
                &:after {
                    right: 0;
                    width: 50%;
                }
            }
            &:hover {
                color: $pink;
                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
    }
    .grid {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
        margin-bottom: 100px;
        &:after {
            @extend %clearfix;
        }
        .grid-item { 
            position: relative;
            float: left;
            width: 50%;
            height: 460px;
            h2 {
                @media #{$handheld} {
                    font-size: 1.2rem;
                    line-height: 1.5 !important;
                }
            }
            .category_name_wrapper {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 1.2rem;
                font-family: 'Serenity Demi Bold';
                background-color: $light-gray;
                padding: 10px;
                a {
                    color: $white;
                    &:hover, &:active {
                        color: darker($white);
                    }
                }
            }
            a.v-img-expose {
                display: block;
                width: calc(100% - 10px);
                height: 450px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--width2 { 
                height: 410px;
                width: 100%;
                a.v-img-expose {
                    display: block;
                    width: calc(100% - 10px);
                    height: 400px;
                }
            }
            &--height2 { 
                height: 920px;
                width:  50% ;
                a.v-img-expose {
                    width: calc(100% - 10px);
                    height: 910px;
                }
            }
        }
    }
    .header-title-wrapper {
        position: absolute;
        bottom: 110px;
        left: 30px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-top-right-radius: 15px;
        width: 50%;
        height: auto;
        .entry-title {
            a {
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-family: 'Serenity Demi Bold';
                color: $light-gray;
            }
        }
    }
    a.read_more_hyperlink {
        display: block;
        position: relative;
        bottom: 10px;
        left: 110px;
        @include moduled-btn( 'button', 0, 10px, 30px, $pink ) {
            font-size: 1.4rem;
        }
    }
}

.single-post {
    .entry-header {
        
        background-color: lighten($light-gray, 60%);
        width: 100%;
        height: 40vh;
        .header-inner {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .entry-content {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-family: 'Serenity Light';
        .entry-meta {
            font-size: 1.2rem;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 3rem;
            font-family: 'Serenity Demi Bold';
            color: $light-gray;
            @media screen and (max-width: 768px) {
                font-size: 2.2rem;
            }
        }
    }
    .grid {
        width: 80%;
        margin-top: 40px;
        margin-bottom: 100px;
        &:after {
            @extend %clearfix;
        }
        .grid-item { 
            position: relative;
            float: left;
            width: 50%;
            height: 460px;
            .category_name_wrapper {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 1.2rem;
                font-family: 'Serenity Demi Bold';
                background-color: $light-gray;
                padding: 10px;
                a {
                    color: $white;
                    &:hover, &:active {
                        color: darker($white);
                    }
                }
            }
            a.v-img-expose {
                display: block;
                width: calc(100% - 10px);
                height: 450px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    .header-title-wrapper {
        position: absolute;
        bottom: 110px;
        left: 30px;
        padding: 20px;
        background-color: $white;
        width: 50%;
        height: auto;
        .entry-title {
            a {
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-family: 'Serenity Demi Bold';
                color: $light-gray;
            }
        }
    }
    a.read_more_hyperlink {
        display: block;
        position: relative;
        bottom: 10px;
        left: 110px;
        @include moduled-btn( 'button', 0, 10px, 30px, $pink ) {
            font-size: 1.4rem;
        }
    }
}

// #primary {
//     padding: 0;
//     @media screen and (min-width: 564px) {
//         padding-left: 15px;
//         padding-right: 15px;
//     }
// }